<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href= staticFiles/uploads/app.css />
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
    </header>
    
    <h1>Anomaly Detection Demo</h1>
    <p style="color:black;">Please Upload Image</p>
    
 
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" id="myFile" name="uploaded-file">
        <input type="submit" value="Submit">
    </form>
  <br>
  
  <p style="color:black;">Result Loading</p>
  <form action="/show_data" target="_blank">
        <input type="submit" value="Display Detection Result" />
    </form>
  </body>
</html>